<h1>Teacher Details</h1>
<h2>First Name: {{object.first_name}}</h2>
<h2>Last Name: {{ object.last_name }}</h2>
<h2>ssn: {{object.ssn}}</h2>
<h2>returning_or_new_hire: {{object.returning_or_new_hire}}</h2>
<h2>title_position: {{object.title_position}}</h2>
<h2>current_assignment: {{object.current_assignment}}</h2>
<h2>subject_grade: {{object.subject_grade}}</h2>
<h2>certification_status: {{object.certification_status}}</h2>
<h2>nys_cert_area: {{object.nys_cert_area}}</h2>
<h2>cert_type: {{object.cert_type}}</h2>
<h2>expiration_date: {{object.expiration_date}}</h2>
<h2>current_comment: {{object.current_comment}}</h2>
<h2>comments_from_last_wksh: {{object.comments_from_last_wksh}}</h2>
<h2>las: {{object.las}}</h2>
<h2>ats_w: {{object.ats_w}}</h2>
<h2>cst: {{object.cst}}</h2>
<h2>cst_subject: {{object.cst_subject}}</h2>
<h2>eas: {{object.eas}}</h2>
<h2>ata': {{object.ata}}</h2>