{% block content %}

<h1>Teacher List</h1>

<table border="1">
<thead>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for teacher in object_list %}
    <tr>
    <td>{{ teacher.first_name }}</td>
    <td>{{ teacher.last_name }}</td>
    <td><a href="{% url "teacher_view" teacher.id %}">view</a></td>
    <td><a href="{% url "teacher_edit" teacher.id %}">edit</a></td>
    <td><a href="{% url "teacher_delete" teacher.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock content %}